httpx==0.28.1
huggingface_hub>=0.36,<1
pillow>=12.0.0,<13
numpy>=2.0,<3
imageio>=2.37,<3
imageio-ffmpeg>=0.6,<1
torch>=2.8,<2.9
transformers>=4.57
sentencepiece>=0.2,<1
protobuf>=4.25,<7
accelerate>=1.11
peft>=0.17,<1
safetensors>=0.6
prodigyopt>=1.1,<2
diffusers @ git+https://github.com/huggingface/diffusers.git
